@page
@model Website.Pages.MenuModel
@{
    ViewData["Title"] = "Menu";
}
    <div class="content">
        <div class="menu">
            <h1>Menu</h1>

            <h2>Combos</h2>

            <div class="menu-item">
                <div class="row">
                    @for (int i = 0; i < Model.Combos.Count; i++)
                    {
                        <p>
                            @Model.Combos[i].ToString()
                            <ul>
                                <li>Drink: Cola Sodasaurus</li>
                                <li>Side: Fryceritops</li>
                                <li>Price: @Model.Combos[i].Price</li>
                                <li>Calories: @Model.Combos[i].Calories</li>
                                <li>
                                    ingredients:
                                    <ul>
                                        @for (int j = 0; j < Model.Combos[i].Ingredients.Count; j++)
                                        {
                                            @if (!Model.IChoose.Contains(Model.Combos[i].Ingredients[j]))
                                            {
                                                <li>@Model.Combos[i].Ingredients[j].ToString()</li>
                                            }
                                        }
                                    </ul>
                                </li>
                            </ul>
                        </p>
                        <p></p>
                    }
                </div>
            </div>

            <h2>Entree</h2>

            <div class="menu-item">
                <div class="row">
                    @for (int i = 0; i < Model.Entree.Count; i++)
                    {
                        <p>
                            @Model.Entree[i].ToString()
                            <ul>
                                <li>Price: @Model.Entree[i].Price</li>
                                <li>Calories: @Model.Entree[i].Calories</li>
                                <li>
                                    ingredients:
                                    <ul>
                                        @for (int j = 0; j < Model.Entree[i].Ingredients.Count; j++)
                                        {
                                            @if (!Model.IChoose.Contains(Model.Entree[i].Ingredients[j]))
                                            {
                                                <li>@Model.Entree[i].Ingredients[j].ToString()</li>
                                            }
                                        }
                                    </ul>
                                </li>
                            </ul>
                        </p>
                        <p></p>
                    }
                </div>
            </div>

            <h2>Sides</h2>

            <div class="menu-item">
                <div class="row">
                    @for (int i = 0; i < Model.Side.Count; i++)
                    {
                        <p>
                            @Model.Side[i].ToString()
                            <ul>
                                <li>Price: @Model.Side[i].Price</li>
                                <li>Calories: @Model.Side[i].Calories</li>
                                <li>
                                    ingredients:
                                    <ul>
                                        @for (int j = 0; j < Model.Side[i].Ingredients.Count; j++)
                                        {
                                            @if (!Model.IChoose.Contains(Model.Side[i].Ingredients[j]))
                                            {
                                                <li>@Model.Side[i].Ingredients[j].ToString()</li>
                                            }
                                        }
                                    </ul>
                                </li>
                            </ul>
                        </p>
                        <p></p>
                    }
                </div>
            </div>

            <h2>Drinks</h2>

            <div class="menu-item">
                <div class="row">
                    @for (int i = 0; i < Model.Drink.Count; i++)
                    {
                        <p>
                            @Model.Drink[i].ToString()
                            <ul>
                                <li>Price: @Model.Drink[i].Price</li>
                                <li>Calories: @Model.Drink[i].Calories</li>
                                <li>
                                    ingredients:
                                    <ul>
                                        @for (int j = 0; j < Model.Drink[i].Ingredients.Count; j++)
                                        {
                                            @if (!Model.IChoose.Contains(Model.Drink[i].Ingredients[j]))
                                            {
                                                <li>@Model.Drink[i].Ingredients[j].ToString()</li>
                                            }
                                        }
                                    </ul>
                                </li>
                            </ul>
                        </p>
                        <p></p>
                    }
                </div>
            </div>
        </div>

        <form method="post">
            <input type="text" name="search" id="search" value="@Model.search" />
            <input type="submit" name="filter" id="filter" value="Search and Filter" />

            <h4>Menu Category</h4>
            <div class="checkbox-list">
                <label>
                    <input type="checkbox" name="MChoose" value="Combo" checked="@Model.MChoose.Contains("Combo")" />
                    Combo
                </label>
                <label>
                    <input type="checkbox" name="MChoose" value="Entree" checked="@Model.MChoose.Contains("Entree")" />
                    Entree
                </label>
                <label>
                    <input type="checkbox" name="MChoose" value="Side" checked="@Model.MChoose.Contains("Side")" />
                    Side
                </label>
                <label>
                    <input type="checkbox" name="MChoose" value="Drink" checked="@Model.MChoose.Contains("Drink")" />
                    Drink
                </label>

                <h4>Price Filter</h4>
                <label>
                    Minimum:
                    <input type="number" min="0" max="10" step="0.1" name="minIMDB" value="@Model.minIMDB" />
                </label>
                <label>
                    Maximum:
                    <input type="number" min="0" max="10" step="0.1" name="maxIMDB" value="@Model.maxIMDB" />
                </label>

                <h5>Ingredient Filter</h5>
                @foreach (string ingredient in Model.Ingre)
                {
                    <label>
                        <input type="checkbox" name="IChoose" value = "@ingredient.ToString()" />
                        @ingredient
                    </label>
                }


            </div>
        </form>
    </div>
