@page
@model Website.Pages.MenuModel
@{
    ViewData["Title"] = "Menu";
}

<h1>Menu</h1>

<h2>Combos</h2>

<div class="menu-item">
    <div class="row">
        @for(int i = 0; i < Model.Menu.AvailableCombos.Count; i++)
        {
            <p>@Model.Menu.AvailableCombos[i].ToString()
                <ul>
                    <li>Price: @Model.Menu.AvailableCombos[i].Price</li>
                    <li>Calories: @Model.Menu.AvailableCombos[i].Calories</li>
                    <li>ingredients:
                        <ul>
                            @for (int j = 0; j < Model.Menu.AvailableCombos[i].Ingredients.Count; j++)
                            {
                                <li>@Model.Menu.AvailableCombos[i].Ingredients[j].ToString()</li>
                            }
                        </ul>
                    </li>
                </ul>
            </p>
            <p></p>
        }
    </div>
</div>

<h2>Entree</h2>

<div class="menu-item">
    <div class="row">
        @for (int i = 0; i < Model.Menu.AvailableEntrees.Count; i++)
        {
            <p>
                @Model.Menu.AvailableEntrees[i].ToString()
            <ul>
                <li>Price: @Model.Menu.AvailableEntrees[i].Price</li>
                <li>Calories: @Model.Menu.AvailableEntrees[i].Calories</li>
                <li>
                    ingredients:
                    <ul>
                        @for (int j = 0; j < Model.Menu.AvailableEntrees[i].Ingredients.Count; j++)
                        {
                            <li>@Model.Menu.AvailableEntrees[i].Ingredients[j].ToString()</li>
                        }
                    </ul>
                </li>
            </ul>
        </p>
        <p></p>
    }
    </div>
</div>

<h2>Sides</h2>

<div class="menu-item">
    <div class="row">
        @for (int i = 0; i < Model.Menu.AvailableSides.Count; i++)
        {
            <p>
                @Model.Menu.AvailableSides[i].ToString()
                <ul>
                    <li>Price: @Model.Menu.AvailableSides[i].Price</li>
                    <li>Calories: @Model.Menu.AvailableSides[i].Calories</li>
                    <li>
                        ingredients:
                        <ul>
                            @for (int j = 0; j < Model.Menu.AvailableSides[i].Ingredients.Count; j++)
                            {
                                <li>@Model.Menu.AvailableSides[i].Ingredients[j].ToString()</li>
                            }
                        </ul>
                    </li>
                </ul>
            </p>
            <p></p>
        }
    </div>
</div>

<h2>Drinks</h2>

<div class="menu-item">
    <div class="row">
        @for (int i = 0; i < Model.Menu.AvailableDrinks.Count; i++)
        {
            <p>
                @Model.Menu.AvailableDrinks[i].ToString()
                <ul>
                    <li>Price: @Model.Menu.AvailableDrinks[i].Price</li>
                    <li>Calories: @Model.Menu.AvailableDrinks[i].Calories</li>
                    <li>
                        ingredients:
                        <ul>
                            @for (int j = 0; j < Model.Menu.AvailableDrinks[i].Ingredients.Count; j++)
                            {
                                <li>@Model.Menu.AvailableDrinks[i].Ingredients[j].ToString()</li>
                            }
                        </ul>
                    </li>
                </ul>
            </p>
            <p></p>
        }
    </div>
</div>

