@page
@model Website.Pages.MenuModel
@{
    ViewData["Title"] = "Menu";
}
    <div class="content">
        <div class="menu">
            <h1>Menu</h1>

            <h2>Combos</h2>

            <div class="menu-item">
                <div class="row">
                    @foreach (IMenuItem s in Model.Combos)
                    {
                        CretaceousCombo combo = s as CretaceousCombo;
                    <p>
                        @combo.ToString()
                        <table>

                            <tr>
                                <th>Size</th>
                                <th>Price</th>
                                <th>Calories</th>
                            </tr>

                            <tr>
                                <td>@(combo.Size = Size.Large)</td>
                                <td>@(combo.Price)</td>
                                <td>@(combo.Calories)</td>
                            </tr>

                            <tr>
                                <td>@(combo.Size = Size.Medium)</td>
                                <td>@(combo.Price)</td>
                                <td>@(combo.Calories)</td>
                            </tr>

                            <tr>
                                <td>@(combo.Size = Size.Small)</td>
                                <td>@(combo.Price)</td>
                                <td>@(combo.Calories)</td>
                            </tr>

                        </table>
                        <ul>
                            <li>Drink: Cola Sodasaurus</li>
                            <li>Side: Fryceritops</li>
                            <li>Price: @combo.Price</li>
                            <li>Calories: @combo.Calories</li>

                            <li>
                                ingredients:
                                <ul>
                                    @for (int j = 0; j < combo.Ingredients.Count; j++)
                                    {
                                        <li>@combo.Ingredients[j].ToString()</li>
                                    }
                                </ul>
                            </li>
                        </ul>
                    </p>

                        

                        <p></p>
                    }
                </div>
            </div>

            <h2>Entree</h2>

            <div class="menu-item">
                <div class="row">
                    @foreach (IMenuItem s in Model.Entree)
                    {
                        Entree entree = s as Entree;
                        <p>
                            @entree.ToString()
                            <ul>
                                <li>Price: @entree.Price</li>
                                <li>Calories: @entree.Calories</li>
                                <li>
                                    ingredients:
                                    <ul>
                                        @for (int j = 0; j < entree.Ingredients.Count; j++)
                                        {
                                            <li>@entree.Ingredients[j].ToString()</li>
                                        }
                                    </ul>
                                </li>
                            </ul>
                        </p>
                        <p></p>
                    }
                </div>
            </div>

            <h2>Sides</h2>

            <div class="menu-item">
                <div class="row">
                    @foreach (IMenuItem s in Model.Side)
                    {
                        Side side = s as Side;
                    <p>
                        @side.ToString()
                        <table>

                            <tr>
                                <th>Size</th>
                                <th>Price</th>
                                <th>Calories</th>
                            </tr>

                            <tr>
                                <td>@(side.Size = Size.Large)</td>
                                <td>@(side.Price)</td>
                                <td>@(side.Calories)</td>
                            </tr>

                            <tr>
                                <td>@(side.Size = Size.Medium)</td>
                                <td>@(side.Price)</td>
                                <td>@(side.Calories)</td>
                            </tr>

                            <tr>
                                <td>@(side.Size = Size.Small)</td>
                                <td>@(side.Price)</td>
                                <td>@(side.Calories)</td>
                            </tr>
                        </table>
                        <ul>
                            <li>Price: @side.Price</li>
                            <li>Calories: @side.Calories</li>
                            <li>
                                ingredients:
                                <ul>
                                    @for (int j = 0; j < side.Ingredients.Count; j++)
                                    {
                                        <li>@side.Ingredients[j].ToString()</li>
                                    }
                                </ul>
                            </li>
                        </ul>
                    </p>
                        <p></p>
                    }
                </div>
            </div>

            <h2>Drinks</h2>

            <div class="menu-item">
                <div class="row">
                    @foreach (IMenuItem s in Model.Drink)
                    {
                        Drink drink = s as Drink;
                    <p>
                        @drink.ToString()
                        <table>

                            <tr>
                                <th>Size</th>
                                <th>Price</th>
                                <th>Calories</th>
                            </tr>

                            <tr>
                                <td>@(drink.Size = Size.Large)</td>
                                <td>@(drink.Price)</td>
                                <td>@(drink.Calories)</td>
                            </tr>

                            <tr>
                                <td>@(drink.Size = Size.Medium)</td>
                                <td>@(drink.Price)</td>
                                <td>@(drink.Calories)</td>
                            </tr>

                            <tr>
                                <td>@(drink.Size = Size.Small)</td>
                                <td>@(drink.Price)</td>
                                <td>@(drink.Calories)</td>
                            </tr>
                        </table>
                        <ul>
                            @(drink.Size = Size.Small)
                            <li>Price: @drink.Price</li>
                            <li>Calories: @drink.Calories</li>
                            <li>
                                ingredients:
                                <ul>
                                    @for (int j = 0; j < drink.Ingredients.Count; j++)
                                    {
                                        <li>@drink.Ingredients[j].ToString()</li>
                                    }
                                </ul>
                            </li>
                        </ul>
                    </p>
                        <p></p>
                    }
                </div>
            </div>
        </div>

        <form method="post">
            <input type="text" name="search" id="search" value="@Model.search" />
            <input type="submit" name="filter" id="filter" value="Search and Filter" />

            <h4>Menu Category</h4>
            <div class="checkbox-list">
                <label>
                    <input type="checkbox" name="MChoose" value="Combo" checked="@Model.MChoose.Contains("Combo")" />
                    Combo
                </label>
                <label>
                    <input type="checkbox" name="MChoose" value="Entree" checked="@Model.MChoose.Contains("Entree")" />
                    Entree
                </label>
                <label>
                    <input type="checkbox" name="MChoose" value="Side" checked="@Model.MChoose.Contains("Side")" />
                    Side
                </label>
                <label>
                    <input type="checkbox" name="MChoose" value="Drink" checked="@Model.MChoose.Contains("Drink")" />
                    Drink
                </label>

                <h4>Price Filter</h4>
                <label>
                    Minimum:
                    <input type="number" min="0" max="10" step="0.1" name="minIMDB" value="@Model.minIMDB" />
                </label>
                <label>
                    Maximum:
                    <input type="number" min="0" max="10" step="0.1" name="maxIMDB" value="@Model.maxIMDB" />
                </label>

                <h5>Ingredient Filter</h5>
                @foreach (string ingredient in Model.Ingre)
                {
                    <label>
                        <input type="checkbox" name="IChoose" value = "@ingredient.ToString()" />
                        @ingredient
                    </label>
                }


            </div>
        </form>
    </div>
